Source: cfflib
Section: python
Priority: extra
Maintainer: Stephan Gerhard <debian@unidesign.ch>
Build-Depends: debhelper (>= 7.2.18), python-all, python-support,
			   python-numpy,
			   python-sphinx,
			   python-nose,
			   python-networkx,
			   python-nibabel
Standards-Version: 3.9.1
Homepage: http://cmtk.org/cfflib
Vcs-Git: git://github.com/LTS5/cfflib.git
Vcs-Browser: http://github.com/LTS5/cfflib
XS-Python-Version: >= 2.6

Package: python-cfflib
Architecture: all
Depends: ${python:Depends}, ${misc:Depends},
		python-lxml,
		python-numpy,
		python-networkx (>= 1.4),
		python-nibabel (>= 1.1.0),
Recommends: python-nose,
			python-sphinx,
			python-tables,
			python-h5py
Provides: ${python:Provides}
Description: Multi-modal connectome and metadata management and integration
 The Connectome File Format Library (cfflib) is a Python module for
 multi-modal neuroimaging connectome data and metadata management and integration.

 It enables single subject and multi-subject data integration for a
 variety of modalities, such as networks, surfaces, volumes, fiber tracks,
 timeseries, scripts, arbitrary data objects such as homogeneous arrays or
 CSV/JSON files. It relies on existing Python modules and the standard library
 for basic data I/O, and adds a layer of metadata annotation as tags or with
 structured properties to individual data objects.